extends layout

block content  

  div(data-role='page', data-theme='b', data-content-theme='b')

    div(data-role='header')
      a(href="#myPopup" data-rel="popup" data-icon='gear') #{username}
      h1= title
      a(href='/logout', class='ui-btn-right') Log out
    div(data-role='main', class="ui-content")      
      h3 Your Tracks 
      
      div(data-role="popup" id="myPopup" class="ui-content" data-rel="/")
        p Not implemented yet.
     
      
      div(class='ui-grid-a ui-responsive') 
        div(class="ui-block-a", style="width:40%")
          if tracklist.length !== 0
            ul(id='tracks', data-role="listview")                     
              each val, index in tracklist
                li(class="ui-collapsible-inset")
                  a(href='/?track=#{index}',data-ajax='false') #{val}
          else
            ul(id='notracks', data-role="listview")
              li No tracks
            
        div(class='ui-block-b ui-responsive', style="width:60%")
          div(id='map')
            p(id='mapinfo') No track to display

      fieldset(class='ui-block-a ui-responsive', style='width:100%')
        legend Track information
        table(class='ui-block-a', style='width:100%')
          tr
            th Duration
            th Distance
            th Average speed
          tr
            td 00:00:00
            td #{dist} km
            td 0.0 km/h
        h4 description
        p(id="description") #{desc}
    
      fieldset(class='ui-block-a ui-responsive', style='width:100%')
        legend Add new track
        form(action='/addtrack', method='post', enctype='multipart/form-data', data-ajax='false') 
          div(class='ui-block-a', style='width:100%') 
            input(type='text', name='description', placeholder='Track description...')
          div(class='ui-block-a', style='width:75%') 
            input(type='file', name='gpxfile', required)
          div(class='ui-block-b', style='width:25%')
            input(type='submit', value='Upload')          
              
    script(src='http://maps.google.com/maps/api/js?sensor=false')
    script.
      var points = !{trackpoints}
    script(src='/javascripts/map.js')    